<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.practicas.midletatlas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MidletAtlas">
        <activity
            android:name=".activity_paises_oceania"
            android:exported="false" />
        <activity
            android:name=".activity_oceania"
            android:exported="false" />
        <activity
            android:name=".activity_paises_america"
            android:exported="false" />
        <activity
            android:name=".activity_america"
            android:exported="false" />
        <activity
            android:name=".activity_paises_asia"
            android:exported="false" />
        <activity
            android:name=".activity_asia"
            android:exported="false" />
        <activity
            android:name=".activity_paises_africa"
            android:exported="false" />
        <activity
            android:name=".activity_africa"
            android:exported="false" />
        <activity
            android:name=".activity_paises_europa"
            android:exported="false" />
        <activity
            android:name=".activity_europa"
            android:exported="false"
            tools:ignore="AppLinkUrlError" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>